node_modules/
venv/

.claude/
.omc/
.grapuco/
claude.md
Papers/
zkCross_filemd/
.cursor/
.env/
HZKA/result/**/build_agg/

*.r1cs
*agg_pk.bin
*witness.bin

!*proof_*.bin
!*agg_vk.bin

__pycache__/
*.pyc
